In [1]:
import pandas as pd

In [2]:
baby_names = pd.read_csv("/content/US_Baby_Names_right.csv")

In [4]:
baby_names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1016395 entries, 0 to 1016394
Data columns (total 7 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   Unnamed: 0  1016395 non-null  int64
 1   Id          1016395 non-null  int64
 2   Name        1016395 non-null  object
 3   Year        1016395 non-null  int64
 4   Gender      1016395 non-null  object
 5   State       1016395 non-null  object
 6   Count       1016395 non-null  int64
dtypes: int64(4), object(3)
memory usage: 54.3+ MB

In [6]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

In [9]:
baby_names.drop(["Unnamed: 0",'Id'],axis=1,inplace=True)

In [10]:
baby_names.head()

      Name  Year Gender State  Count
0     Emma  2004      F    AK     62
1  Madison  2004      F    AK     48
2   Hannah  2004      F    AK     46
3    Grace  2004      F    AK     44
4    Emily  2004      F    AK     41

In [11]:
baby_names['Gender'].value_counts()

Gender
F    558846
M    457549
Name: count, dtype: int64

In [21]:
baby_names.groupby('Name')['Name'].count().sort_values(ascending=False)

Name
Riley       1112
Avery       1080
Jordan      1073
Peyton      1064
Hayden      1049
            ...
Allisa         1
Allianna       1
Alliah         1
Allia          1
Kaisei         1
Name: Name, Length: 17632, dtype: int64

In [20]:
baby_names['Name'].value_counts()

Name
Riley        1112
Avery        1080
Jordan       1073
Peyton       1064
Hayden       1049
             ...
Anaka           1
Montanna        1
Thaddaeus       1
Miroslav        1
Ackley          1
Name: count, Length: 17632, dtype: int64

In [28]:
baby_names.groupby('Name')['Count'].sum().sort_values(ascending=False).head()

Name
Jacob       242874
Emma        214852
Michael     214405
Ethan       209277
Isabella    204798
Name: Count, dtype: int64

In [32]:
baby_names['Name'].nunique()

17632

In [43]:
baby_names.groupby('Name')['Count'].sum().sort_values(ascending=False).head(1).index[0]

'Jacob'

In [60]:
# Group by Name and sum counts
b = baby_names.groupby("Name")["Count"].sum()
print(b.head())

# Find the minimum count
min_b = b.min()
print("Minimum count:", min_b)

# How many names have this minimum count
num_names = (b == min_b).sum()
print("Number of names with this minimum:", num_names)

Name
Aaban        12
Aadan        23
Aadarsh       5
Aaden      3426
Aadhav        6
Name: Count, dtype: int64
Minimum count: 5
Number of names with this minimum: 2578

In [74]:
# Group by name and sum counts
names = baby_names.groupby("Name")[["Count"]].sum()

# Find the median occurrence
median_occurrence = names["Count"].median()

# Get names that have exactly the median occurrence
median_names = names[names["Count"] == median_occurrence]

print("Median occurrence:", median_occurrence)
print("Number of names with this occurrence:", median_names.shape[0])
print(median_names.head())

Median occurrence: 49.0
Number of names with this occurrence: 66
         Count
Name
Aishani     49
Alara       49
Alysse      49
Ameir       49
Anely       49

In [75]:
baby_names.groupby("Name")[["Count"]].sum().std()

Count    11006.069468
dtype: float64

In [79]:
baby_names.groupby("Name")[["Count"]].sum().describe()

               Count
count   17632.000000
mean     2008.932169
std     11006.069468
min         5.000000
25%        11.000000
50%        49.000000
75%       337.000000
max    242874.000000